{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry"
    }],
    "@babel/preset-react",
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "compact": true,
  "env": {
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-constant-elements"
      ]
    }
  }
}
