
// ===============================================
//
// FONT SETTINGS
//
// ===============================================

// Font Weight
// -------------------------------------------

// Font Weights
// These should NOT be overridden as they map to standard CSS font weights
// Read: https://developer.mozilla.org/en/docs/Web/CSS/font-weight

// Thin font weight
$font__weight-thin: 100;

// Gotham Light font weight
$font__weight-light: 300;

// Gotham Book / normal font weight
$font__weight-normal: 400;

// Gotham Medium font weight
$font__weight-medium: 500;

// Semibold font weight
$font__weight-semibold: 600;

// Gotham Bold font weight
$font__weight-bold: 700;
